
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* CONTACT */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

a {
  text-decoration-line:none;
  text-decoration: none;
  text-decoration-color:black;
}

/* PERFIL */

#row-navbar{
  height: 50px;
  border-radius: 10px;
  padding: 10px, 0;
}

#backroom-logo {
  height: 35px;
  text-align: left;
}

#navbar-search-bar {
  border-radius: 15px;
  border: 1px solid rgb(226, 226, 226);
}

#navbar-search-bar-icon {
  background-color: #ffffff;
  border-right: 0px solid white;
}



#profile-photo{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  
}

#profile-name {
  font-size: 20px;
  font-weight: bold;

}

#profile-section {
  justify-content: space-between;
}



#section-saved{
  border-top: 1px solid rgb(219, 219, 219);
  font-size: 20px;
  color: black;
}
