<div>
  <div class="container-fluid d-flex">
    <div class="container-fluid">
    </div>
    <div class="form-group container m-5 p-5 d-flex flex-column ml-auto">
      <h2 id="registrate" class="mt-5 mb-5">Registrate</h2>
      <label for="name" class="w-50">Nombre</label>
      <input type="text" name="name" id="name" class="form-control w-50" placeholder="Nombre" aria-describedby="helpId">
      <small id="helpId" class="text-muted">Validador</small>
      <br>
      <br>
      <label for="username" class="w-50">Nombre de usuario</label>
      <input type="text" name="username" id="username" class="form-control w-50" placeholder="Nombre de usuario"
        aria-describedby="helpId">
      <small id="helpId" class="text-muted">Validador</small>
      <br>
      <br>
      <label for="name" class="w-50">Email</label>
      <input type="text" name="email" id="email" class="form-control w-50" placeholder="Email"
        aria-describedby="helpId">
      <small id="helpId" class="text-muted">Validador</small>
      <br>
      <br>
      <label for="password" class="w-50">Contraseña</label>
      <input type="text" name="password" id="password" class="form-control w-50" placeholder="Contraseña"
        aria-describedby="helpId">
      <small id="helpId" class="text-muted">Validador</small>
      <br>
      <br>
      <button type="submit" class="btn btn-primary w-25">Submit</button>
    </div>
  </div>
  <div class="container-fluid bg-light" id="footerRegistro">
    <footer class="container-fluid d-flex pt-5 pb-5">
      <div class="text-wrap ml-5"><a href="#">¿Que es backroom?</a></div>
      <div class="text-wrap ml-5"><a href="#">Contacto</a></div>
      <div class="text-wrap ml-auto">
        <p>&#169; 2022 Backroom</p>
      </div>
    </footer>
  </div>
</div>