@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
//login
#html_login_regis {
    position: relative;
    min-height: 100%;
  }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
#back-color {
  background-image: url(img/humo2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 60px;
}
#img-superior{
  display: none;
  
}
#container_login_regis {
  margin-top: 23vh;
}
.form-control {
  text-align: center;
  justify-content: center;
}

#login {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
}
.format-login {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 310px;
  height: 36px;
}
#logo_bk {
    width: 220px;
    height: 130px;
  }
#logo_bk_celular{
  display: none;
}
#logo_cel{
  width: 250px;
  height: 400px;
}
#boy_solo{
  display: none;
}
#registro{
  margin-left: 19vw;
}
 @media only screen and (max-width:767px){
   #registro{
     margin-left: 0;
   }
  #caja_cel{
    display: none;
  }
  #logo_cel{
    display:none;
  }
  #img-superior{
    display: block;
    min-width: 100vw;
    padding: 0;
    }
  #logo{
    height:150px;
  }  
  #logo_bk_celular{
        display:block;
    }
    #logo_bk,#logo_muj{
        display:none;
    }
    #back-color {
      background-image:none;
    }
    #container_login_regis {
      margin-top:0;  
    }
    #tenn{
      display: none;
    }
   #boy_solo{
     display:block;
     width: 150px;
  height: 190px;
  margin-left: 10vw;
   } 
  } 
#button-login {
  width: 310px;
  height: 50px;
  background: #bc6ff1;
  border-radius: 10px;
  transform: rotate(0.12deg);
  border: none;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
#img-teen {
  height: 200px;
}
#tenn {
  width: 150px;
  height: 160px;
  margin-left: 10vw;
}
#footer_login {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background: rgba(196, 196, 196, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 20vh;

  }
  .link{
    color:#000000;
  }
  .link:hover{
    color:#4E0F86;
  }
//login
//About us
#nbarra {
  border: 3px solid rgba(83, 82, 82, 0.363);
  border-radius: 10px;
  border-top: none;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#feet {
  justify-content: center;
  margin-top: 15vh;
  background-color: rgb(202, 198, 198);
  height: 70px;
}
#dev1,
#dev2,
#dev3 {
  text-align: center;
  align-items: center;
  text-decoration: underline;
  font-style: oblique;
  font-size: 25px;
}
#imagenes-contactol {
  height: 40px;
  width: 40px;
}
#imagenes-contactog {
  height: 60px;
  width: 60px;
}
#img-perfil {
  height: 120px;
  width: 120px;
  margin-bottom: 10px;
}
#medios {
  text-align: center;
}
#textous {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
#link-about:hover{
  transform: scale(1.2);
  background-color:hsl(275, 82%, 85%,0.2);
  border-radius: 15px;
}
#imagenes-contactol:hover,#imagenes-contactog:hover{
  transform: scale(1.5);
}
//About us
//Contact
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* CONTACT */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
 
}
#footer-contac{
  margin-bottom: 20px;  
}
a {
  text-decoration-line:none;
  text-decoration: none;
  text-decoration-color:black;
}

#contact-container {
  background-image: url(../src/img/background-contact.jpg);
  object-fit: cover;
  background-size: cover;
  
 

}

#contact-col {
  background-color: #DDB7F8;
  border-radius: 15px;
  width: 400px;
  
}
#contact-title{
  font-size: 20px;
  font-weight:600;
  text-align: center;
}
#contact-btn{
  
  color: white;
  background-color: #4E0F86;
}
#contact-btn:hover{
  transform: scale(1.1);
}
#link-login:hover{
  transform: scale(1.2);
  background-color:hsl(275, 82%, 85%,0.2);
  border-radius: 15px;
}
#feetContacto {
  position: absolute;
    bottom: 0;
    width: 100%;
    height:auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #DDB7F8;
}
#validationCustom02{
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
border-radius: 10px;
}
#img-teen-contact{
  display: none;
}
@media only screen and (max-width:767px){
  #contact-container {
    background-image:none;
    margin-top: 10vh;
  }
  #contact-col {
    background-color: #DDB7F8;
    width: 400px;
    background: rgba(188, 111, 241, 0.5);
    border-radius: 70px 0px;
    
  }
  #img-superior{
    display: block;
    min-width: 100vw;
    padding: 0;
    }
  #link-login{
    display: none;
  }
  #logo-contac{
    display: none;
  }
  #logo-nav{
    position: absolute;
    top: 10px;
    left: -60px;
  }
  #logo-nav:hover{
    transform: scale(1.2);
  }
  #img-teen-contac{
    display: block;
    height: 200px;
    margin-bottom: 10vh;
  }
  @media only screen and (max-width:550px){
    #logo-nav{
      position: absolute;
      top: 10px;
      left: -80px;
    }
  }
}
//contact


//Home
*{
    padding: 0;
    margin: 0;
    box-sizing: border box;
}

/* @media only screen and (max-width: 425px){
    #barra{
        display: none;
    }
}

@media only screen and (min-width: 426px){

    .nav-res-cel{
        display: none;   
    }

    .barra-res{
        display: none;
    }
}
<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> 95e46da5afe9aa899aa1fb702385abb756e6c754
*/
#btn-mas{
  display: nome;
}

.container{
  position:fixed;
  bottom: 20px;
  right: 20px;
}

.redes a, .icon-mas2{
  display: block;
  text-decoration: none;
  background: #bc6ff1;
  color: #fff;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0, 4);
  transition: all 500ms ease;
}

.redes a:hover{
  background: #fff;
  color: #cc2b2b;
}

.redes a{
  margin-bottom: -15px;
  opacity: 0;
  visibility: hidden;
}

#btn-mas:checked~ .redes a{
margin-bottom: 10px;
opacity: 1;
visibility: visible;
}

/************************* PERFIL *****************************************/

.navbar-aside{
  position: fixed;
  bottom: 30px;

}
.nav-menu {
  padding: 0;
  display: block;
}
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}
.nav-menu a, .nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #45505b;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #f2f3f5;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}
.nav-menu a i, .nav-menu a:focus i {
  font-size: 20px;
}
.nav-menu a span, .nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: #45505b;
}
@media (min-width: 992px) {
  .nav-menu a, .nav-menu a:focus {
    width: 56px;
  }
  .nav-menu a span, .nav-menu a:focus span {
    display: none;
    color: #fff;
  }
}
.nav-menu a:hover, .nav-menu .active, .nav-menu .active:focus, .nav-menu li:hover > a {
  color: #fff;
  background: linear-gradient(#D426FF, #6980FD);
}
.nav-menu a:hover span, .nav-menu .active span, .nav-menu .active:focus span, .nav-menu li:hover > a span {
  color: #fff;
}
.nav-menu a:hover, .nav-menu li:hover > a {
  width: 100%;
  color: #fff;
}
.nav-menu a:hover span, .nav-menu li:hover > a span {
  display: block;
}

#avatar-navbar-h{
  width: 50px;
  border-radius: 30%;
  transform: scale(1.1);
  cursor: pointer;
  padding-bottom: 8px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}



.photo-gallery {
  color:#313437;
  background-color:#fff;
}

.photo-gallery p {
  color:#7d8285;
}

.photo-gallery h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.photo-gallery .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom:0;
}

.photo-gallery .photos {
  padding-bottom:20px;
}

.photo-gallery .item {
  padding-bottom:30px;
}

@media only screen and (max-width: 1024px) {
  #navbar {
    display: none;
  }
}

@media only screen and (min-width: 1025px) {
  #responsive-perfil {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  #search-bar, #navbar-menssage, #navbar-start, #navbar-flame {
    display: none;
  }
}


/* AVATAR RESPONSIVE */
.responsive-perfil{
  display: flex;
  flex-direction: column;
  align-items: center;
}


#responsive-img-avatar{
  width: 150px;
  height: auto;
  border-radius: 50%;
}

// #responsive-perfil-menu{
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   margin: 20px;
//   text-decoration: none;
//   color: black;
//   padding: 15px;
// }

// #responsive-perfil-menu:hover{
//   background: linear-gradient(#D426FF, #6980FD);
//   border-radius: 10px;
//   color:#fff;
//   text-decoration: none;
// }




/* PERFIL */

#row-navbar{
  height: 50px;
  border-radius: 10px;
  box-shadow: #DDB7F8;
  padding: 10px, 0;
}

#backroom-logo {
  height: 35px;
  text-align: left;
}

#navbar-search-bar {
  border-radius: 15px;
  border: 1px solid rgb(226, 226, 226);
}

#navbar-search-bar-icon {
  background-color: #ffffff;
  border-right: 0px solid white;
}

#container-searchbar{
  display: flex;
  align-items: center;
  justify-content:center;
}

#search-bar{
  width: 100%;
  max-width: 700px;
  background-color: rgba(255, 255, 255, 0.281);
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 0px 20px;
  border: 1px solid rgba(219, 219, 219, 0.4);
}

#search-bar input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  
  color: #cac7ff;
}

#search-bar button img{
  width: 15px;
}

#search-bar button{
  border: 0;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  padding-right: 30px;
  cursor: pointer;
  background: transparent;
}


#profile-photo{
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

#profile-name {
  font-size: 20px;
  font-weight: bold;
}

#section-saved{
  border-top: 1px solid rgb(219, 219, 219);
  font-size: 20px;
  color: black;
}


/*........................Home santiago.................*/
#row-navbar-home{
  border: 2px solid #C4C4C4;
  background-color: rgb(255, 255, 255,0.99);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 15px;
height:auto;
margin: 5px 10px 2px 10px;
padding: 0;
}
.dropdown-menu{
  right: 0;
}
.grid-container {

  margin: 0 auto;
}

.grid-item {
  width: 200px;
  margin-bottom: 40px;
  border-radius: 15px;
  cursor:pointer;
  background-color: rgb(137, 44, 220,0.2);
}

.grid-item:hover {
  filter: opacity(0.9);
  transform: scale(1.1);
}
#menu-friends {
  margin-top: 20vh;
  position: fixed;
  top: 10vh;
  right: 3vw;
  bottom: 0;
  z-index: 3;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}
#avatar-friends{
  width: 50px;
  border-radius: 50%;
  transform: scale(1.1);
  cursor: pointer;
  padding-bottom: 8px;
}
#avatar-friends:hover{
transform: scale(1.2);
}
.cont-letra span {
  font-size: 30px;
  font-weight: bold;
  font-family: "Fredoka One";
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.cont-letra span::before {
  content: var(--l);
  position: absolute;
  transform: scale(1.1);
  filter: blur(15px);
}
.cont-letra span:hover {
  filter: contrast(250%);
}
.cont-letra span:nth-child(1) {
  color: #BC6FF1;
}
.cont-letra span:nth-child(2) {
  color: #BC6FF1;
}
.cont-letra span:nth-child(3) {
  color: #BC6FF1;
}
.box {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}
.box::before {
  content: '';
  position: absolute;
  inset: 20px 0px;
  background: linear-gradient(315deg,#52057B,#000000);
  transition: 0.4s;
  animation: animate 3s linear infinite;
}
.box:hover::before {
  inset: -20px 0px;
}
@keyframes animate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.box::after {
  content: '';
  position: absolute;
  inset: 6px;
  background: #0f1846;
  border-radius: 50%;
  z-index: 1;
}
.content {
  position: absolute;
  inset: 10px;
  border: 3px solid #0a83ec;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
  z-index: 3;
}
.box:hover .content img {
  opacity: 0;
}

.content a {
  position: relative;
  margin-top: 1px;
  padding: 2px 2px;
  background: #fff;
  color: #0f1846;
  border-radius: 25px;
  font-weight: 50;
  font-size: 1.25em;
  letter-spacing: 0.05em;
  text-decoration: none;
  transition: 0.4s;
}
.content a:hover {
  letter-spacing: 0.3em;
}
.list-group-item{
  border:none;
}

/*****************  PUBLICACION ********************/


/* Imágenes */

.images-cards figure {
  position: relative;
}

.images-cards img {
  height: 240px;
}

.images-cards figure figcaption {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  color: black;
  font-size: 44px;
  cursor: pointer;
  opacity: 0;
}

.images-cards figure figcaption:hover {
  opacity: 1;
}

/* Selector de imágenes */

#Images .add-new-photo {
  display: flex;
  border: 4px dashed black;
  width: 400px;
  height: 400px;
  min-height: 240px;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: black;
  border-radius: 4px;
  cursor: pointer;
}

#Images .add-new-photo.first:hover {
  background: rgba(255, 255, 255, 0.17);
}

#add-photo-container input {
  display: none;
}

/* Modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: inline-block !important;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  opacity: 0;
  z-index: 10;
  transition: 0.3s all ease;
}

.modal.show {
  opacity: 1;
  z-index: 10;
}

.modal .modal-main {
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: -100%;
  left: 0;
  padding: 0 5px;
  transition: 0.3s all ease;
}

.modal.show .modal-main {
  top: 0;
}

.modal .modal-main .row {
  padding: 0 !important;
  margin: 0 !important;
  margin-top: 50px !important;
}

.modal .modal-main .row > div {
  align-self: stretch !important;
}

.modal .modal-main .modal-card {
  padding: 15px;
  display: none;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
  margin: 50px;
}

/* Loader */

#loading {
  color: #696969;
  text-align: center;
}

#loading .preloader {
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 10px solid #eee;
  border-top: 10px solid #666;
  border-radius: 50%;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: loading;
}

#loading .tag {
  font-size: 16px;
  display: inline-block;
  width: 100%;
  margin-top: 8px;
}

@keyframes loading {

  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

/* ->Modal */

.flex-center {
align-self: center !important;
}

#btn-responsive{
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.btn-responsive button{
  padding: 10px 25px;
  font-size: 15px;
  border: 0;
  outline: none;
  background-color: #52057B;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px;  
}


@media only screen and (min-width: 1200px) {
  #btn-responsive {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  #publication-area {
    display: none;
  }
}




//Recuperar contraseña
#recpas {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
}
#button-recpas {
  width: 310px;
  height: 50px;
  background: #bc6ff1;
  border-radius: 10px;
  transform: rotate(0.12deg);
  border: none;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
#logo_muj {
  width: auto;
  height: 400px;}

