@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
//login
#back-color
{
    background-image:url(img/humo2.jpg);
    background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#container_login{

  margin-top: 28vh; 
 /* margin-bottom: 25vh; */ 
}
/* #form{

    text-align: center;
    align-items: center;;
} */
.form-control{
    text-align: center;
    justify-content: center;
}
#footer_login{
    height:auto;
    background: rgba(196, 196, 196, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#login{
font-family:'Inter', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
text-align: center;
color: #000000;
text-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
}
.format-login{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
     width:310px;
     height:36px;
     
}
#button-login{
    width: 310px;
    height: 50px;
    background: #BC6FF1;
    border-radius: 10px;
    transform: rotate(0.12deg);
    border: none;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    
}
#img-teen{
    height: 200px;
    margin-bottom: 10vw;
}
#tenn{
    width: 150px;
    height: 200px;
    margin-left: 5vw; 
}
#logo_bk{
    width: 200px;
    height: 130px;
}
//login
//About us
#barra{
    border: 3px solid rgba(83, 82, 82, 0.363);
    border-radius: 10px;
    border-top: none;
    text-align: center;
    align-items: center;
  justify-content: center;
}

#feet{
    justify-content: center;
    margin-top: 15vh;
    background-color: rgb(202, 198, 198);
    height: 70px;
}
#dev1,#dev2,#dev3{
    text-align: center;
    align-items: center;
}
#imagenes-contactol{
    height: 40px;
    width: 40px;
}
#imagenes-contactog{
    height: 60px;
    width: 60px;
}
//About us

