@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
//login
#html_login_regis {
    position: relative;
    min-height: 100%;
  }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
#back-color {
  background-image: url(img/humo2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 60px;
}
#img-superior{
  display: none;
  
}
#container_login_regis {
  margin-top: 23vh;
}
.form-control {
  text-align: center;
  justify-content: center;
}

#login {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
}
.format-login {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 310px;
  height: 36px;
}
#logo_bk {
    width: 220px;
    height: 130px;
  }
#logo_bk_celular{
  display: none;
}
#logo_cel{
  width: 250px;
  height: 400px;
}
#boy_solo{
  display: none;
}
#registro{
  margin-left: 15vw;
}
 @media only screen and (max-width:767px){
   #registro{
     margin-left: 0;
   }
  #caja_cel{
    display: none;
  }
  #logo_cel{
    display:none;
  }
  #img-superior{
    display: block;
    min-width: 100vw;
    padding: 0;
    }
  #logo{
    height:150px;
  }  
  #logo_bk_celular{
        display:block;
    }
    #logo_bk{
        display:none;
    }
    #back-color {
      background-image:none;
    }
    #container_login_regis {
      margin-top:0;  
    }
    #tenn{
      display: none;
    }
   #boy_solo{
     display:block;
     width: 150px;
  height: 190px;
  margin-left: 10vw;
   } 
  } 
#button-login {
  width: 310px;
  height: 50px;
  background: #bc6ff1;
  border-radius: 10px;
  transform: rotate(0.12deg);
  border: none;
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
#img-teen {
  height: 200px;
}
#tenn {
  width: 150px;
  height: 160px;
  margin-left: 10vw;
}
#footer_login {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background: rgba(196, 196, 196, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 20vh;

  }
  .link{
    color:#000000;
  }
  .link:hover{
    color:#4E0F86;
  }
//login
//About us
#barra {
  border: 3px solid rgba(83, 82, 82, 0.363);
  border-radius: 10px;
  border-top: none;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#feet {
  justify-content: center;
  margin-top: 15vh;
  background-color: rgb(202, 198, 198);
  height: 70px;
}
#dev1,
#dev2,
#dev3 {
  text-align: center;
  align-items: center;
}
#imagenes-contactol {
  height: 40px;
  width: 40px;
}
#imagenes-contactog {
  height: 60px;
  width: 60px;
}
#img-perfil {
  height: 120px;
  width: 120px;
}
#medios {
  text-align: center;
}
#textous {
  font-family: "Roboto", sans-serif;
}
//About us
//Contact
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* CONTACT */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

a {
  text-decoration-line:none;
  text-decoration: none;
  text-decoration-color:black;
}

#contact-container {
  background-image: url(../src/img/background-contact.jpg);
  object-fit: cover;
  height: 100vh;

}

#contact-col {
  background-color: #DDB7F8;
  border-radius: 10px;
}
#contact-title{
  font-size: 20px;
  font-weight:600;
  text-align: center;
}

#contact-btn{
  
  color: white;
  background-color: #4E0F86;
}

#contact-btn:hover{
  transform: scale(1.1);
}


#footer-contact {
  background-color: #DDB7F8;
}
//contact


//Home
*{
    padding: 0;
    margin: 0;
    box-sizing: border box;
}

/* @media only screen and (max-width: 425px){
    #barra{
        display: none;
    }
}

@media only screen and (min-width: 426px){

    .nav-res-cel{
        display: none;   
    }

    .barra-res{
        display: none;
    }
}
*/
#btn-mas{
  display: nome;
}

.container{
  position:fixed;
  bottom: 20px;
  right: 20px;
}

.redes a, .icon-mas2{
  display: block;
  text-decoration: none;
  background: #bc6ff1;
  color: #fff;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0, 4);
  transition: all 500ms ease;
}

.redes a:hover{
  background: #fff;
  color: #cc2b2b;
}

.redes a{
  margin-bottom: -15px;
  opacity: 0;
  visibility: hidden;
}

#btn-mas:checked~ .redes a{
margin-bottom: 10px;
opacity: 1;
visibility: visible;
}

 