@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* CONTACT */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

a {
  text-decoration-line:none;
  text-decoration: none;
  text-decoration-color:black;
}

#contact-container {
  background-image:url(../../img/background-contact.jpg);
  object-fit: cover;
  height: 100vh;
}

#contact-col {
  background-color: #DDB7F8;
  border-radius: 10px;
}
#contact-title{
  font-size: 20px;
  font-weight:600;
  text-align: center;
}

#contact-btn{
  
  color: white;
  background-color: #4E0F86;
}

#contact-btn:hover{
  transform: scale(1.1);
}


#footer-contact {
  
  background-color: #DDB7F8;
}
